#profile-image {
  width: 20px;
  border-radius: 50%;
}

.chat {
  border-collapse: collapse;
  text-align: left;
  border: #e3e3e3 1px solid;
  padding: 10px;
}

.chat:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.current {
  background-color: #ebebeb;
}
