* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-collapse: collapse;
  height: 100vh;
}

#chat-list {
  min-width: 25%;
  border: 1px #e3e3e3 solid;
  list-style: none;
  text-align: center;
  background-color: white;
}

#chat-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ededed;
}
